In [5]:
import glob
import os
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.preprocessing import OneHotEncoder
from scipy.stats import zscore
from tensorflow import keras

In [6]:
# Constants
# batch size for model
BATCH_SIZE = 100
# number of epochs
EPOCHS = 20
# proportion of validation data
VALIDATION_SPLIT = 0.2
# learning rate and epsilon for ADAM optimizer
LEARNING_RATE = 0.01
EPSILON = 1
# path where data is stored
PATH="/Users/tanvipotdar/Projects/thesis/data/INTC_2015-01-01_2015-01-31_10"
# prediction horizon
K = 10 
# threshold to decide which category midprice direction falls in (up, down, stationary)
ALPHA = 0.001

# Static objects
# instantiate one hot encoder here so that all classes will always map to the same labels
onehot_encoder = OneHotEncoder(sparse=False)

### Prepare the data

In [7]:
def get_data(path):
    all_files = glob.glob(path + "/*orderbook_10.csv")
    all_files.sort()
    orderbooks = []
    for filename in all_files:
        df = pd.read_csv(filename, index_col=None, header=None)
        orderbooks.append(df)
    orderbook = pd.concat(orderbooks, axis=0, ignore_index=True)
    col_names = ['ask_price_', 'ask_size_', 'bid_price_', 'bid_size_']
    nums = map(str, range(1,11))
    orderbook.columns = [y + x for x in nums for y in col_names]
    return orderbook
data = get_data(path=PATH)
data.head()

,ask_price_1,ask_size_1,bid_price_1,bid_size_1,ask_price_2,ask_size_2,bid_price_2,bid_size_2,ask_price_3,ask_size_3,...,bid_price_8,bid_size_8,ask_price_9,ask_size_9,bid_price_9,bid_size_9,ask_price_10,ask_size_10,bid_price_10,bid_size_10
0,367300,4000,365200,400,367500,200,364800,300,367900,300,...,361800,200,372900,1000,361500,200,373400,2500,360800,200
1,367300,4000,365200,400,367500,200,364800,300,367900,300,...,361800,200,372900,1000,361500,200,373400,2500,360800,200
2,367300,4000,365200,100,367500,200,364800,300,367900,300,...,361800,200,372900,1000,361500,200,373400,2500,360800,200
3,367300,4000,365200,100,367500,200,364800,300,367900,300,...,362900,200,372900,1000,361800,200,373400,2500,361500,200
4,367300,4000,365200,100,367500,200,364800,300,367900,300,...,362900,200,372900,1000,361800,200,373400,2500,361500,200

In [8]:
def normalise_data(data):
    normalised_data = data.apply(zscore)
    return normalised_data
normalised_data = normalise_data(data)
normalised_data.head()

,ask_price_1,ask_size_1,bid_price_1,bid_size_1,ask_price_2,ask_size_2,bid_price_2,bid_size_2,ask_price_3,ask_size_3,...,bid_price_8,bid_size_8,ask_price_9,ask_size_9,bid_price_9,bid_size_9,ask_price_10,ask_size_10,bid_price_10,bid_size_10
0,0.835094,-0.071388,0.649817,-0.849847,0.844429,-0.869809,0.621803,-1.152307,0.872445,-0.829426,...,0.397685,-0.876441,1.283347,-0.470633,0.379015,-0.885237,1.320691,-0.19782,0.322992,-0.792966
1,0.835094,-0.071388,0.649817,-0.849847,0.844429,-0.869809,0.621803,-1.152307,0.872445,-0.829426,...,0.397685,-0.876441,1.283347,-0.470633,0.379015,-0.885237,1.320691,-0.19782,0.322992,-0.792966
2,0.835094,-0.071388,0.649817,-0.915618,0.844429,-0.869809,0.621803,-1.152307,0.872445,-0.829426,...,0.397685,-0.876441,1.283347,-0.470633,0.379015,-0.885237,1.320691,-0.19782,0.322992,-0.792966
3,0.835094,-0.071388,0.649817,-0.915618,0.844429,-0.869809,0.621803,-1.152307,0.872445,-0.829426,...,0.500416,-0.876441,1.283347,-0.470633,0.407032,-0.885237,1.320691,-0.19782,0.388365,-0.792966
4,0.835094,-0.071388,0.649817,-0.915618,0.844429,-0.869809,0.621803,-1.152307,0.872445,-0.829426,...,0.500416,-0.876441,1.283347,-0.470633,0.407032,-0.885237,1.320691,-0.19782,0.388365,-0.792966

In [9]:
# smoothed labelling of the midprice/ K is the prediction horizon
def smooth_midprice_using_k_lookahead(normalised_data, k):
    normalised_data['midprice'] = (normalised_data.ask_price_1+normalised_data.bid_price_1)/2
    # mean of previous k mid-prices
    normalised_data['m_minus'] = normalised_data['midprice'].rolling(window=k).mean()
    # mean of next k mid-prices
    normalised_data['m_plus'] = normalised_data['midprice'][::-1].rolling(window=k).mean()[::-1]
    return normalised_data
normalised_data = smooth_midprice_using_k_lookahead(normalised_data, k=K)

In [10]:
# label the smoothed mid-prices based on a threshold/ ALPHA is the threshold 
def create_midprice_labels(normalised_data):
    normalised_data['change'] = (normalised_data.m_plus - normalised_data.m_minus)/normalised_data.m_minus
    # assign categories up, down, stationary
    normalised_data['label'] = pd.cut(normalised_data.change, bins=[-np.inf, -ALPHA, ALPHA, np.inf], 
                                    labels=['down', 'stationary', 'up'])
    # drop all unlabelled values (will be first and last k values as they have no m_minus/m_plus value)
    normalised_data.dropna(inplace=True)
    return normalised_data
normalised_data = create_midprice_labels(normalised_data)

In [11]:
# split into train and test data
N = len(normalised_data) - len(normalised_data)%100
def reshape_and_categorise_data(normalised_data, n):
    data = normalised_data[:n]
    cols = data.columns.to_list()[:40]
    input_data = data[cols]
    input_array = input_data.to_numpy().reshape(n//100,100,40,1)

    output_data = data.label.to_numpy()[::-100][::-1]
    integer_encoded = output_data.reshape(len(output_data), 1)
    output_array = onehot_encoder.fit_transform(integer_encoded)
    X_train, X_test, y_train, y_test = train_test_split(input_array, output_array, shuffle=False)
    return X_train, X_test, y_train, y_test
X_train, X_test, y_train, y_test = reshape_and_categorise_data(normalised_data, N)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(140124, 100, 40, 1)

In [19]:
# mapping of labels to one hot encoding
print(onehot_encoder.inverse_transform([[1,0,0],[0,0,1],[0,1,0]]))
# Using np.argmax equates: 0-down, 1-stationary, 2-up

[['down']
 ['up']
 ['stationary']]

### Build and compile the model

In [20]:
def create_model():
    # convolutional layers
    model = keras.Sequential()
    model.add(keras.layers.Conv2D(filters=16, kernel_size=(1,2), input_shape=(100,40,1), strides=(1, 2)))
    model.add(keras.layers.LeakyReLU(alpha=0.01))
    model.add(keras.layers.Conv2D(filters=16, kernel_size=(4,1)))
    model.add(keras.layers.Conv2D(filters=16, kernel_size=(4,1)))
    model.add(keras.layers.Conv2D(filters=16, kernel_size=(1,2), strides=(1, 2)))
    model.add(keras.layers.LeakyReLU(alpha=0.01))
    model.add(keras.layers.Conv2D(filters=16, kernel_size=(4,1)))
    model.add(keras.layers.Conv2D(filters=16, kernel_size=(4,1)))
    model.add(keras.layers.Conv2D(filters=16, kernel_size=(1,10), input_shape=(100,10,1)))
    model.add(keras.layers.Conv2D(filters=32, kernel_size=(4,1)))
    model.add(keras.layers.Conv2D(filters=32, kernel_size=(4,1)))
    model.add(keras.layers.MaxPooling2D(pool_size=(3,1)))
    model.add(keras.layers.TimeDistributed(keras.layers.Flatten()))

    # lstm layer
    model.add(keras.layers.LSTM(100))
    model.add(keras.layers.Dense(3,activation='softmax'))
    # compile model and summarize
    adam = keras.optimizers.Adam(lr=LEARNING_RATE, epsilon=1)
    model.compile(optimizer=adam, loss='categorical_crossentropy', metrics=['accuracy'])
    model.summary()
    return model
model = create_model()

WARNING:tensorflow:From /Users/tanvipotdar/pyenvs/lob/lib/python3.7/site-packages/tensorflow/python/ops/resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d (Conv2D)              (None, 100, 20, 16)       48
_________________________________________________________________
leaky_re_lu (LeakyReLU)      (None, 100, 20, 16)       0
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 97, 20, 16)        1040
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 94, 20, 16)        1040
_________________________________________________________________
conv2d_3 (Conv2D)            (None, 94, 10, 16)        528
_________________________________________________________________
leaky_re_lu_1 (LeakyReLU)    (None, 94, 10, 16)        0
_________________________________________________________________
conv2d_4 (Conv2D)            (None, 91, 10, 16)        1040
_________________________________________________________________
conv2d_5 (Conv2D)            (None, 88, 10, 16)        1040
_________________________________________________________________
conv2d_6 (Conv2D)            (None, 88, 1, 16)         2576
_________________________________________________________________
conv2d_7 (Conv2D)            (None, 85, 1, 32)         2080
_________________________________________________________________
conv2d_8 (Conv2D)            (None, 82, 1, 32)         4128
_________________________________________________________________
max_pooling2d (MaxPooling2D) (None, 27, 1, 32)         0
_________________________________________________________________
time_distributed (TimeDistri (None, 27, 32)            0
_________________________________________________________________
lstm (LSTM)                  (None, 100)               53200
_________________________________________________________________
dense (Dense)                (None, 3)                 303
=================================================================
Total params: 67,023
Trainable params: 67,023
Non-trainable params: 0
_________________________________________________________________

In [ ]:
def fit_and_evaluate_model(model, X_train, X_test, y_train, y_test):
    history = model.fit(X_train, y_train, epochs=EPOCHS, batch_size=BATCH_SIZE, validation_split=VALIDATION_SPLIT)
    score, accuracy = model.evaluate(X_test, y_test, batch_size=BATCH_SIZE)
    print("Accuracy is {}%".format(accuracy*100))
    return accuracy*100, history
accuracy, history = fit_and_evaluate_model(model, X_train, X_test, y_train, y_test)

Train on 112099 samples, validate on 28025 samples
WARNING:tensorflow:From /Users/tanvipotdar/pyenvs/lob/lib/python3.7/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/20
112099/112099 [==============================] - 422s 4ms/sample - loss: 0.5583 - acc: 0.8428 - val_loss: 0.4811 - val_acc: 0.8577
Epoch 2/20
112099/112099 [==============================] - 430s 4ms/sample - loss: 0.4965 - acc: 0.8524 - val_loss: 0.4793 - val_acc: 0.8577
Epoch 3/20
112099/112099 [==============================] - 440s 4ms/sample - loss: 0.4925 - acc: 0.8528 - val_loss: 0.4723 - val_acc: 0.8581
Epoch 4/20
 22800/112099 [=====>........................] - ETA: 5:03 - loss: 0.4888 - acc: 0.8510

In [ ]:
def plots(history):
    plt.figure(figsize=(15,10))
    plt.subplot(2,1,1)
    plt.plot(history.history['loss'],'b--',lw=2,label='train_loss')
    plt.plot(history.history['val_loss'],'g-',lw=2,label='val_loss')
    plt.legend()
    # plt.ylim([.5,1.3])
    plt.xlabel('Number of epochs')
    plt.ylabel('Loss')
    plt.subplot(2,1,2)
    plt.plot(history.history['acc'],'b--',lw=2,label='train_acc')
    plt.plot(history.history['val_acc'],'g-',lw=2,label='val_acc')
    plt.legend()
    # plt.ylim([.2,1.0])
    plt.xlabel('Number of epochs')
    plt.ylabel('Accuracy')
    plt.show()
plots(history)

### Evaluate performance

In [ ]:
def get_report(model, X_test, y_test, X_train, y_train):
    target_names = ['down', 'stationary', 'up']
    y_pred = model.predict(X_test)
    y_pred_bool = np.argmax(y_pred, axis=1)
    y_test_bool = np.argmax(y_test, axis=1)
    print(classification_report(y_pred_bool, y_test_bool, target_names=target_names))
    print(confusion_matrix(y_test_bool, y_pred_bool, labels=[0,1,2]))
get_report(model, X_test, y_test, X_train, y_train)